<% layout('layouts/boilerplate') -%>

<h1>Adicionar Item</h1>
<div class="container">
    <form action="/loja" method="POST">
        <div>
            <label for="">Nome: </label>
            <input style="width: 200px;" class="form-control" type="text" name="produto[nome]">
        </div>
        <div class="form-row">
            <div class="col">
                <label for="">Preço: </label>
                <input class="form-control" type="number" name="produto[preco]">
            </div>
            <div class="col">
                <label for="">Quantidade: </label>
                <input class="form-control" type="number" name="produto[quantidade]">
            </div>
        </div>
        <div>
            <label for="">Data: </label>
            <input style="width: 100px;" class="form-control" type="date" name="produto[data]">
        </div>
        <div>
            <label for="">Descrição: </label>
            <textarea style="width: 80%;" name="produto[descricao]" class="form-control" id="" cols="10" rows="5"></textarea>
        </div>
        <div>
            <label for="">Url da Imagem: </label>
            <input style="width: 80%;" class="form-control" type="text" name="produto[image]">
        </div>
        <button class="btn btn-success mt-2">Enviar</button>
    </form>
</div>